@font-face {
	font-family: 'DINPro';
	font-style: normal;
	font-weight: 700;
	src: local('DINPro'), url('DINPro-Bold_13934.ttf');
}

@font-face {
	font-family: 'PFAgoraSansPro';
	font-style: normal;
	font-weight: 400;
	src: local('PFAgoraSansPro'), url('pfagorasanspro-reg.ttf');
}

@font-face {
	font-family: 'PFAgoraSlabPro';
    font-weight: 700;
	src: local('PFAgoraSlabPro'), url('pfagoraslabpro-bold.ttf');
}

@font-face {
	font-family: 'PFAgoraSlabPro';
    font-weight: 400;
	src: local('PFAgoraSlabPro'), url('pfagoraslabpro-reg.ttf');
}

@font-face {
	font-family: 'YanusC';
    font-weight: 400;
	src: local('YanusC'), url('pt_yanus_cyrillic.ttf');
}