@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,del,dfn,em,font,img,ins,q,small,strike,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,footer,header,article,aside,canvas,nav,section,table,caption,tbody,tfoot,thead,tr,th,td {
    background: transparent;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    padding: 0;
    margin: 0;
}
article,footer,header,menu,nav,section,aside,canvas {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
a:focus {
    outline: none;
}
blockquote {
    quotes: none;
}
blockquote:before,
blockquote:after {
    content: '';
    content: none;
}
table,caption,tbody,tfoot,thead,tr,th,td {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}
body {
    height: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}

@font-face {
    font-family: "PTSans";
    /*src: url(../fonts/PTSans-Regular.ttf);*/
    src: url(../fonts/PTSans-Bold.ttf);
}